@import 'tailwindcss';

@layer base {
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply wrap-break-word;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-balance;
  }

  p {
    @apply text-pretty;
  }
}

@layer components {
  .prose {
    color: var(--foreground);
    font-size: 1rem;
    line-height: 1.75;

    :where(p):not(:where(.not-prose, .not-prose *)) {
      color: rgb(var(--foreground) / 0.8);
      margin-top: 1.25rem;
      margin-bottom: 1.25rem;
    }

    :where(h1, h2, h3, h4, h5, h6):not(:where(.not-prose, .not-prose *)) {
      color: var(--foreground);
      scroll-margin-top: 8rem;
      font-weight: 500;
    }

    @media (min-width: 1280px) {
      :where(h1, h2, h3, h4, h5, h6):not(:where(.not-prose, .not-prose *)) {
        scroll-margin-top: 5rem;
      }
    }

    :first-child:not(:where(.not-prose, .not-prose *)) {
      margin-top: 0;
    }

    :where(h1):not(:where(.not-prose, .not-prose *)) {
      margin-top: 2rem;
      margin-bottom: 1.5rem;
      font-size: 2.25rem;
    }

    :where(h2):not(:where(.not-prose, .not-prose *)) {
      margin-top: 2rem;
      margin-bottom: 1rem;
      font-size: 1.5rem;
    }

    :where(h3):not(:where(.not-prose, .not-prose *)) {
      margin-top: 2rem;
      margin-bottom: 1rem;
      font-size: 1.25rem;
    }

    :where(h4):not(:where(.not-prose, .not-prose *)) {
      margin-top: 1.75rem;
      margin-bottom: 0.75rem;
      font-size: 1.125rem;
    }

    :where(h5, h6):not(:where(.not-prose, .not-prose *)) {
      margin-top: 1.25rem;
      margin-bottom: 0.75rem;
    }

    :where(a):not(:where(.not-prose, .not-prose *)) {
      color: var(--foreground);
      text-decoration-color: var(--muted-foreground);
      font-weight: 500;
      word-break: break-word;
      text-decoration-line: underline;
      text-underline-offset: 3px;
      transition: color 200ms;
    }

    :where(a):hover:not(:where(.not-prose, .not-prose *)) {
      text-decoration-color: var(--foreground);
    }

    :where(strong):not(:where(.not-prose, .not-prose *)) {
      color: #60a5fa;
      font-weight: 700;
      letter-spacing: 0;
    }

    :where(ul):not(:where(.not-prose, .not-prose *)) {
      margin-top: 1.25rem;
      margin-bottom: 1.25rem;
      margin-left: 1.5rem;
      list-style-type: disc;
    }

    :where(ul):not(:where(.not-prose, .not-prose *)) :where(li) {
      margin-top: 0.5rem;
    }

    :where(ol):not(:where(.not-prose, .not-prose *)) {
      margin-top: 1.25rem;
      margin-bottom: 1.25rem;
      margin-left: 1.5rem;
      list-style-type: decimal;
    }

    :where(ol):not(:where(.not-prose, .not-prose *)) :where(li) {
      margin-top: 0.5rem;
    }

    :where(li):not(:where(.not-prose, .not-prose *)) {
      color: rgb(var(--foreground) / 0.8);
      padding-left: 0.5rem;
    }

    :where(li > p):not(:where(.not-prose, .not-prose *)) {
      margin-top: 0;
      margin-bottom: 0;
    }

    :where(code):not(:where(.not-prose, .not-prose *)) {
      background-color: rgb(var(--muted) / 0.5);
      color: var(--foreground);
      border-radius: 0.125rem;
      padding-left: 0.3rem;
      padding-right: 0.3rem;
      padding-top: 0.2rem;
      padding-bottom: 0.2rem;
      font-size: 0.875rem;
      font-weight: 500;
      word-break: break-word;
    }

    :where(blockquote):not(:where(.not-prose, .not-prose *)) {
      color: var(--muted-foreground);
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
      border-left: 2px solid;
      border-color: var(--muted-foreground);
      padding-left: 1.5rem;
      font-size: 0.875rem;
    }

    :where(hr):not(:where(.not-prose, .not-prose *)) {
      margin-top: 2rem;
      margin-bottom: 2rem;
      border-top: 1px solid;
      border-color: var(--border);
    }

    :where(table):not(:where(.not-prose, .not-prose *)) {
      margin-left: auto;
      margin-right: auto;
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
      display: block;
      max-width: fit-content;
      overflow-x: auto;
      font-size: 0.875rem;
    }

    :where(thead):not(:where(.not-prose, .not-prose *)) {
      border-bottom: 1px solid;
      border-color: rgb(var(--muted-foreground) / 0.3);
    }

    :where(th):not(:where(.not-prose, .not-prose *)) {
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      font-weight: 500;
      text-align: left;
    }

    :where(tr):not(:where(.not-prose, .not-prose *)) {
      border-top: 1px solid;
      border-bottom: 1px solid;
      border-color: rgb(var(--muted-foreground) / 0.3);
    }

    :where(tr):first-child:not(:where(.not-prose, .not-prose *)) {
      border-top: none;
    }

    :where(tr):last-child:not(:where(.not-prose, .not-prose *)) {
      border-bottom: none;
    }

    :where(td):not(:where(.not-prose, .not-prose *)) {
      color: rgb(var(--foreground) / 0.8);
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      vertical-align: top;
      word-break: break-word;
      font-size: 0.875rem;
    }

    :where(td > *):first-child:not(:where(.not-prose, .not-prose *)) {
      margin-top: 0 !important;
    }

    :where(td > *):last-child:not(:where(.not-prose, .not-prose *)) {
      margin-bottom: 0 !important;
    }

    :where(img, video, figure, .expressive-code):not(:where(.not-prose, .not-prose *)) {
      margin-left: auto;
      margin-right: auto;
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
    }

    :where(pre):not(:where(.not-prose, .not-prose *)) {
      max-height: min(68vh, 1000px) !important;
      overflow-y: auto;
    }

    :where(kbd):not(:where(.not-prose, .not-prose *)) {
      color: var(--foreground);
      background-color: var(--muted);
      border-radius: 0.375rem;
      border: 1px solid;
      border-color: var(--border);
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
      font-size: 0.75rem;
      font-weight: 500;
    }

    :where(.katex-display):not(:where(.not-prose, .not-prose *)) {
      color: rgb(var(--foreground) / 0.8);
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
      overflow-x: auto;
      overflow-y: hidden;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      letter-spacing: normal;
    }
  }
}
