---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import Layout from '@/layouts/Layout.astro'
import { getEntry, render } from 'astro:content'

const aboutContent = await getEntry('about', 'about')
const { Content } = aboutContent ? await render(aboutContent) : { Content: null }
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="About" />
  <Breadcrumbs items={[{ label: 'About', icon: 'lucide:info' }]} />

  <section>
    <div class="min-w-full">
      <div class="prose mb-8">
        {Content && <Content />}
      </div>


      <div class="mt-12 pt-8 border-t border-blue-600">
        <p class="text-muted-foreground text-sm text-center">
          Built with the <Link
            href="https://github.com/jktrn/astro-erudite"
            class="text-foreground"
            external
            underline>astro-erudite</Link
          > template by <Link
            href="https://github.com/jktrn"
            class="text-foreground"
            external
            underline>enscribe</Link
          >
        </p>
      </div>
    </div>
  </section>
</Layout>
